extends ../../layout/page

//--------------------------------------------------//

block vars
  - var title = 'Вкладки JavaScript'
  - var description = 'Вкладки JavaScript'
  - var pageId = 'p-home'

//--------------------------------------------------//

block head

block startBody
 
block endBody
  +script('tabsJs')

//--------------------------------------------------//

block content
  .wrapper
    h1.title Js Вкладки
    +b.tabs.tabsWrapJs
      +e.nav.tabsNavJs
        +e.link.tabsLinkJs Вкладка 1
        +e.link.tabsLinkJs Вкладка 2
        +e.link.tabsLinkJs Вкладка 3
      +e.container.tabsJs
        +e.item Вкладка 1
        +e.item Вкладка 2
        +e.item Вкладка 3