extends ../../layout/page

//--------------------------------------------------//

block vars
  - var title = 'Вкладки JavaScript'
  - var description = 'Вкладки JavaScript'
  - var pageId = 'p-home'

//--------------------------------------------------//

block head

block startBody
 
block endBody
  +script('tabsJs')

//--------------------------------------------------//

block content
  .wrapper
    h1.title Js Вкладки
    +b.tabs.tabsWrapJs
      +e.nav.tabsNavJs
        +e.link Вкладка 1
        +e.link Вкладка 2
        +e.link Вкладка 3
      +e.container.tabsJs
        +e.item Lorem ipsum dolor sit amet consectetur, adipisicing elit. Praesentium debitis nemo magni. Dolores, magni! Unde ut ipsa cumque natus odio nisi, officiis iusto atque, non quibusdam dolor laudantium sed neque?
        +e.item Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempora architecto quidem sequi minima quam, tenetur similique, consequatur nemo, ratione in dolore dicta cumque magnam cum voluptatum cupiditate quae perferendis excepturi!Est, alias eveniet ea illo at sed! Odio, quasi magni ipsam porro saepe culpa temporibus magnam provident blanditiis, voluptate nihil quaerat natus voluptatum recusandae? Magni fugit ut quas sit consequatur?
        +e.item Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil quae qui non, fuga, laborum quas eaque quos nulla ab, placeat obcaecati incidunt dignissimos repudiandae porro voluptate error odit nemo omnis?